################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/OXO/v16/TestStore/0
/OXO/bin/Debug/net6.0
/OXO/obj
/OXOConsole/bin/Debug/net5.0
/OXOConsole/obj
/OXOConsole/bin/Debug/net6.0
/.vs/OXO/v17
/.vs/slnx.sqlite
/.vs/OXO
/.vs
